<div id="<%= dom_id user %>">

<h1><%= user.first_name %> <%= user.last_name %></h1>

  
    <strong>Email:</strong>
    <p><%= user.email %></p>

    <strong>Description:</strong>
    <blockquote><%= user.description %></blockquote>


</div>
